<nav id="sidebar">
    <div class="p-4 pt-5">
        <a href="#" class="img logo rounded-circle mb-5" style="background-image: url('/sidebar-01/images/prof.jpg');"></a>
        <ul class="list-unstyled components mb-5">

            <li>
                <a href="/About/Index">Hakkımda</a>

            </li>

            <li>
                <a href="/Category/CategoryList">Kategoriler</a>
            </li>
            <li>
                <a href="/Contact/ContactList">İletişim</a>
            </li>
            <li>
                <a href="/Educations/EducationList">Eğitimler</a>
            </li>
            <li>
                <a href="/Experiences/ExperienceList">Deneyimler</a>
            </li>
            <li>
                <a href="/İntroduction/İntroductionList">Tanıtım Alanı</a>
            </li>
            <li>
                <a href="/Project/Index">Projeler</a>
            </li>
            <li>
                <a href="/Testimonial/Index">Yorumlar</a>
            </li>
            <li>
                <a href="/SocialMedia/SocialMediaList">Sosyal Medya</a>
            </li>
            <li>
                <a href="/Expertise/ExpertiseList">Uzmanlık Alanları</a>
            <li>
                <a href="/Statistic/Statistic">İstatistik</a>
            </li>







        </ul>


        <div class="footer">
            <p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Telif Hakkı &copy;
                <script>document.write(new Date().getFullYear());</script>Tüm hakları saklıdır.
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
        </div>

    </div>
</nav>