﻿
@{
    ViewBag.Title = "Createİntroduction";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Create İntroduction</h2>

<div class="container">
    <form method="post">
        <label>Başlık</label>
        <input type="text" name="Title" class="form-control" />
        <br />
        <label>Açıklama</label>
        <input type="text" name="Description" class="form-control" />
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>
