@model AcunMedyaPortfolioProject.Models.İntroduction
@{
    ViewBag.Title = "Updateİntroduction";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Updateİntroduction</h2>

<div class="container">
    <form method="post">
        @Html.HiddenFor(x => x.Id)
        <label>Başlık</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        <br />
        <label>Açıklama</label>
        @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
        <br />
        <button class="btn btn-info">Tanıtımı Güncelle</button>
    </form>
</div>
