﻿
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>CreateSocialMedia</h2>

<div class="container">
    <form method="post">
        <label>Platform</label>
        <input type="text" name="Platform" class="form-control" />
        <br />
        <label>Link</label>
        <input type="text" name="Link" class="form-control" />
        <br />
        <button class="btn btn-info">Kaydet</button>
    </form>
</div>