﻿<header class="s-header">

    <div class="header-mobile">
        <span class="mobile-home-link"><a href="index.html">Ömer Türksever</a></span>
        <a class="mobile-menu-toggle" href="#0"><span>Menü</span></a>
    </div>

    <div class="row wide main-nav-wrap">
        <nav class="column lg-12 main-nav">
            <ul>
                <li><a href="index.html" class="home-link">Ömer Türksever</a></li>
                <li class="current"><a href="#intro" class="smoothscroll">Tanıtım</a></li>
                <li><a href="#about" class="smoothscroll">Hakkımda</a></li>
                <li><a href="#works" class="smoothscroll">Projeler</a></li>
                <li><a href="#contact" class="smoothscroll">İletişim</a></li>
            </ul>
        </nav>
    </div>

</header> <!-- end s-header -->