﻿﻿@model AcunMedyaPortfolioProject.Models.Expertise

<div class="row about-expertise" data-animate-block>
    <div class="column lg-12">

        <h2 class="text-pretitle" data-animate-el>Yeteneklerim</h2>

        <ul class="skills-list h1" data-animate-el>
            <li>@Model.Title</li>
        </ul>

    </div>
</div>
